nav {
    height: 50px;
}
ul {
    justify-content: flex-start;
    height: 50px;
}
li {
    display: flex;
    list-style: none;
    align-items: center;
    border-left: none;
    flex: 1;
}
a {
    display: flex;
    height: 50px;
    border: 1px solid gray;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.active {
    font-weight: bolder;
    border-bottom: none;
}
.space {
    border-bottom: 1px solid gray;
    flex: 2;
}