<nav>
    <ul class="d-flex-row">
        <li>
            <a routerLink="/admin-panel/register-products" routerLinkActive="active">
                Register Products
            </a>
        </li>
        <li>
            <a routerLink="/admin-panel/products-management" routerLinkActive="active">
                Products Management
            </a>
        </li>
        <li class="space">

        </li>
    </ul>
</nav>