<header class="d-flex-row col-12">
    <div class="col-4 d-flex-row centralize-items">
        <a routerLink='/home' routerLinkActive="link-active">
            <img src="assets/img/icon-ecommerce.png">
        </a>
    </div>
    <div class="col-4">

    </div>
    <div class="col-4 d-flex-row centralize-items">
        <a routerLink='/admin-panel/register-products' routerLinkActive="link-active">
            <img src="assets/img/icon-admin.png">
        </a>
    </div>
</header>
