header {
    background: Silver;
    min-height: 100px;
}
a {
    border: 2px solid black;
    border-radius: 50%;
}
img {
    width: 50px;
    height: 50px;
    padding: 10px;
}
.link-active {
    border: 3px solid white;
}