<app-header></app-header>
<section>
    <app-menu-admin></app-menu-admin>
    <article class="d-flex-column centralize-items col-10">
        <div class="title-product col-12 d-flex-row centralize-items">
            <h1>Register Products</h1>
        </div>
        <div class="form-register-product d-flex-column centralize-items">
            <input type="text" placeholder="Name Product" name="nameProduct" value="Product Test">
            <input type="text" placeholder="Price" name="price" value="1200.00">
            <input type="text" placeholder="Description" name="description" value="PS4 is the best console from sony for now">
            <input type="text" placeholder="Category" name="category" value="Console">
            <input type="text" placeholder="Department" name="department" value="Eletronics">
            <input type="file" name="image-product" id="img-product">
            <label for="img-product">Image Product upload</label>
            <button class="col-4">Register Product</button>
        </div>
    </article>
</section>
<app-footer></app-footer>
