article {
    border: 1px solid gray;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 5px;
}
input {
    margin: 10px;
    padding: 5px;
    width: 90%;
    min-height: 30px;
}
button {
    margin: 10px;
    border: none;
    border-radius: 12px;
    min-height: 40px;
    color: black;
    font-size: 14px;
    background: #c0c0c0;

        &:hover {
            background: gray;
            color: white;
        }
}
label {
    background:  #5dade2
    ;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
#img-product {
    display: none;
}
.title-product {
    background: #c0c0c0;
    min-height: 50px;
}
.form-register-product {
    margin-top: 50px;
    width: 80%;
}

