/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}
section {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    border: 1px solid gray;
}
.d-flex-row, .d-flex-column {
    display: flex;
}
.d-flex-row {
    flex-direction: row;
}
.d-flex-column {
    flex-direction: column;
}
.centralize-items {
    justify-content: center;
    align-items: center;
}
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 24.99%;
}
.col-4 {
    width: 33.32%;
}
.col-5 {
    width: 41.65%;
}
.col-6 {
    width: 49.99%;
}
.col-7 {
    width: 58.31%;
}
.col-8 {
    width: 66.64%;
}
.col-9 {
    width: 74.97%;
}
.col-10 {
    width: 83.3%;
}
.col-11 {
    width: 91.63%;
}
.col-12 {
    width: 100%;
}

@media only screen and (max-width: 700px) {
    section {
        width: 100%;
    }
}